<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SQL Sanitizer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid id="home-grid">
    <ion-row style="flex-grow: 1;">
      <ion-col size="12" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Configuration</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="inset">
              <ion-label position="floating">Chars to remove (comma seperated)</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item lines="inset">
              <ion-label position="floating">Indent Width</ion-label>
              <ion-input inputmode="numeric" min="0" step="1" type="number"></ion-input>
            </ion-item>
            <ion-item lines="inset">
              <ion-label>Identifier case</ion-label>
              <ion-select value="Default" interface="popover">
                <ion-select-option value="Default">Default</ion-select-option>
                <ion-select-option value="Lower">Lower</ion-select-option>
                <ion-select-option value="Upper">Upper</ion-select-option>
                <ion-select-option value="Capitalize">Capitalize</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item lines="inset">
              <ion-label>Keyword case</ion-label>
              <ion-select value="Default" interface="popover">
                <ion-select-option value="Default">Default</ion-select-option>
                <ion-select-option value="Lower">Lower</ion-select-option>
                <ion-select-option value="Upper">Upper</ion-select-option>
                <ion-select-option value="Capitalize">Capitalize</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item lines="inset">
              <ion-label>Strip comments</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-list>
              <ion-list-header>Parameter</ion-list-header>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="9">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Query</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header style="padding-bottom: unset; padding-top: 5px;">
            <ion-card-title>Build by</ion-card-title>
          </ion-card-header>
          <ion-card-content style="padding-bottom: 8px;">
            <a *ngFor="let contributor of contributors$ | async" href="{{contributor.html_url}}">
            <ion-chip>
              <ion-avatar>
                <img src="{{contributor.avatar_url}}">
              </ion-avatar>
              <ion-label>{{contributor.login}}</ion-label>
            </ion-chip>
            </a>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
