
<div class="input-container">
  <ngx-monaco-editor [options]="editorOptions" class="row1 full-row" [(ngModel)]="sqlQuery" (change)="inputChanged()"></ngx-monaco-editor>
  <!--<textarea class="row1 full-row" cols="100" rows="20" [(ngModel)]="sqlQuery" (change)="inputChanged()"></textarea>-->
  <div class="row2 col1">
    <ul>
      <li>
        <label>Chars to remove (comma seperated) <input [(ngModel)]="charsToRemove"/></label>
      </li>
      <li>
        <label>Reindent<input [(ngModel)]="reindent" type="checkbox"></label>
      </li>
      <li *ngIf="reindent">
        <label>Indent Width <input [(ngModel)]="indentWidth" type="number"/></label>
      </li>
      <li>
        <label>Identifier case
          <select [(ngModel)]="identifierCase">
            <option *ngFor="let casingOption of casingOptions" value="{{casingOption}}">{{ casingOption }}</option>
          </select>
        </label> 
      </li>
      <li>
        <label>Keyword case
          <select [(ngModel)]="keywordCase">
            <option *ngFor="let casingOption of casingOptions" value="{{casingOption}}">{{ casingOption }}</option>
          </select>
        </label> 
      </li>
      <li>
        <label>Strip Comments <input type="checkbox" [(ngModel)]="stripComments"></label>
      </li>
    </ul>
    <ul>
      <button (click)="format()">Sanitize</button>
    </ul>
  </div>
  <div class="row2 col2">
    <ul>
      <li *ngFor="let param of parameter">
          <app-sql-parameter [parameter]="param"></app-sql-parameter>
      </li>
    </ul>
  </div>
</div>