<div class="h-100">
  <div class="clr-row h-100">
    <div class="clr-col-8">
      <div class="card top-card sql-card">
        <div class="card-header">
          SQL
        </div>
        <div class="card-block sql-block">
            <textarea [(ngModel)]="sqlQuery" (change)="inputChanged()"></textarea>
        </div>
      </div>
    </div>
    <div class="clr-col-4">
        <div class="card top-card">
          <div class="card-header">
            Configuration
          </div>
          <div class="card-block">
            <form clrForm>
                <clr-input-container>
                  <label class="clr-col-12 clr-col-sm-4">Chars to remove (comma seperated)</label>
                  <input class="clr-col-12 clr-col-sm-8" clrInput type="text" name="charsToRemove" [(ngModel)]="charsToRemove"/>
                </clr-input-container>
                <clr-input-container>
                  <label class="clr-col-12 clr-col-sm-4">Indent Width</label>
                  <input class="clr-col-12 clr-col-sm-8"clrInput type="number" name="indentWidth" [(ngModel)]="indentWidth"/>
                </clr-input-container>
                <clr-select-container>
                  <label class="clr-col-12 clr-col-sm-4">Identifier case</label>
                  <select class="clr-col-12 clr-col-sm-8" clrSelect name="identifierCase" [(ngModel)]="identifierCase">
                    <option *ngFor="let casingOption of casingOptions" value="{{casingOption}}">{{ casingOption }}</option>
                  </select>
                </clr-select-container>
                <clr-select-container>
                    <label class="clr-col-12 clr-col-sm-4">Keyword case</label>
                    <select class="clr-col-12 clr-col-sm-8" clrSelect name="keywordCase" [(ngModel)]="keywordCase">
                      <option *ngFor="let casingOption of casingOptions" value="{{casingOption}}">{{ casingOption }}</option>
                    </select>
                </clr-select-container>
                <clr-toggle-wrapper>
                  <label>Strip Comments</label>
                  <input type="checkbox" clrToggle name="stripComments" [(ngModel)]="stripComments"/>
                </clr-toggle-wrapper>
              </form>
          </div>
          <div class="card-footer">
              <button class="btn btn-primary btn-block" (click)="format()">Sanitize</button>
          </div>
        </div>
        <div *ngIf="parameter" class="card">
          <div class="card-header">
            Parameter
          </div>
          <div class="card-block">
            <form clrForm>
              <clr-input-container *ngFor="let param of parameter">
                <label class="clr-col-12 clr-col-sm-4">{{  param.name }}</label>
                <input class="clr-col-12 clr-col-sm-8" clrInput type="text" name="paramValue" [(ngModel)]="param.value"/>
              </clr-input-container>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>