.input-container {
  display: grid;
}

.row1 {
  grid-row: 1;
}

.row2 {
  grid-row: 2;
}

.col1 {
  grid-column: 1;
}

.col2 {
  grid-column: 2;
}

.full-row {
  grid-column-start: 1;
  grid-column-end: 3;
}

ul {
  list-style-type: none;
}